<div>
    <div class="aide-titre">ENCHERES</div>
    <div class="aide-sous-titre">Barre d'outils</div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text black glyphicon glyphicon-pause"></span>
        </div>
        <div>
            Si lors de la maine, tous les joueurs passent, c'est grace à ce bouton, que vous pouvez passer au dealer suivant.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-right cell-menu white">
            <span class="menu-text main glyphicon glyphicon-circle-arrow-left"></span>
        </div>
        <div>
            Ce bouton vous permet de revenir à l'accueil.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text main glyphicon glyphicon-circle-arrow-right"></span>
        </div>
        <div>
            Ce bouton vous permet de démarrer la maine et passer à l'écran 'partie' (visible uniquement lorsqu'au moins une enchère a été validée).
        </div>
    </div>

    <div class="aide-elem">
        <div class="aide-elem-float-right cell-menu white">
            <span class="menu-text orange glyphicon glyphicon-flash"></span>
        </div>
        <div>
            Ce bouton vous permet de contrer l'annonce de l'adversaire (visible uniquement lorsqu'au moins une enchère a été validée).
        </div>
    </div>

    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text red glyphicon glyphicon-flash"></span>
        </div>
        <div>
            Ce bouton vous permet de sur-contrer l'annonce de l'adversaire (visible uniquement lorsqu'un joueur a déjà contré).
        </div>
    </div>

    <div class="aide-elem">
        <div class="aide-elem-float-right cell-menu white">
            <span class="menu-text black glyphicon glyphicon-fast-backward"></span>
        </div>
        <div>
            Ce bouton vous permet d'annuler la dernère enchère enregistrée (ou un contre).
        </div>
    </div>

    <div class="aide-sous-titre">Tableau des enchères</div>
    <div class="aide-elem">
        <div class="aide-elem-float-left">
            <div class="dealer">
                <span class="fgB glyphicon glyphicon-hand-right"></span>
                <span>Christophe</span>
            </div>
        </div>
        <div>
            En haut de l'écran est indiqué le dealer courant (la couleur de la main indique l'équipe à laquelle il appartient).
        </div>
    </div>
    <div class="aide-elem">
        <div>
            <p>Pour débuter une enchère, il faut cliquer sur une des 'couleurs' suivantes (par ex: le COEUR) :</p>
            <p>NB. Si la couleur coeur est déjà sélectionnée, seul le clic sur le bouton d'enchère est nécessaire.</p>
        </div>
        <div class="aide-elem-float-left">

            <div class="cell-couleur couleur-carte-active">
                <div class="couleur-active img-maine coeur " />
            </div>
            <div class="cell-couleur">
                <div class="img-maine pique " />
            </div>
            <div class="cell-couleur">
                <div class="img-maine carreau " />
            </div>
            <div class="cell-couleur">
                <div class="img-maine treffle " />
            </div>
        </div>
    </div>
    <div class="aide-elem aide-elem-clear">
        <div>
            <p>Ensuite il faut de nouveau cliquer sur un des deux boutons des enchères en choisissant l'équipe (par ex: l'équipe Gilles/Jérome) :</p>
        </div>
        <div class="paragraphe-enchere">
            <div class="cell-enchere-button but-enchere equipeOn">
                <div class="montant-enchere">
                    90
                </div>
                <div class="img-enchere coeur couleur-active-enchere" />
            </div>
            <div class="cell-enchere-button but-enchere equipeOff">
                <div class="montant-enchere">
                    80
                </div>
                <div class="img-enchere treffle" />
            </div>
        </div>
        <div class="paragraphe-enchere">
            <div class="cell-enchere-equipe">
                <div class="nom-equipe-enchere bkA-gradient">
                    <div>Gilles</div>
                    <div>Jérome</div>
                </div>
            </div>
            <div class="cell-enchere-equipe">
                <div class="nom-equipe-enchere bkX">
                    <div>Christophe</div>
                    <div>Cédric</div>
                </div>
            </div>
        </div>
        <div>
            <p>Il faut noter que l'incrément des valeur se fait automatiquement. Si vous voulez passer de 80 à 100 , il faut cliquer 2 fois sur le bouton d'enchère.</p>
        </div>
    </div>

    <div class="aide-elem">
        <div class="aide-elem-float-left">
            <div class="montant-enchere">
                <del>140<span class="text-contre"></span></del>
            </div>
        </div>
        <div>
            Si une annonce est contrée, elle sera représentée par sa valeur barrée par 1 trait orange.
        </div>
    </div>

    <div class="aide-elem">
        <div class="aide-elem-float-right">
            <div class="montant-enchere">
                <del>150<span class="text-sur-contre"></span></del>
            </div>
        </div>
        <div>
            Si une annonce est sur-contrée, elle sera représentée par sa valeur barrée par 2 traits rouges.
        </div>
    </div>
</div>