<div>
    <div class="aide-titre">MAINE</div>
    <div class="aide-sous-titre">Barre d'outils</div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text green glyphicon glyphicon-thumbs-up"></span>
        </div>
        <div>
            Ce bouton vous permet de valider la réussite du contrat.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text red glyphicon glyphicon-thumbs-down"></span>
        </div>
        <div>
            Ce bouton vous permet de valider la chutte du contrat.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-right cell-menu white">
            <span class="menu-text main glyphicon glyphicon-circle-arrow-left"></span>
        </div>
        <div>
            Ce bouton vous permet de revenir à la saisie des enchères.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text black glyphicon glyphicon-fast-backward"></span>
        </div>
        <div>
            Ce bouton vous permet d'annuler la dernère maine validée (les compteurs sont bien évidement recalculés).
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-right cell-menu white">
            <span class="menu-text black glyphicon glyphicon-stats"></span>
        </div>
        <div>
            Ce bouton vous permet d'accéder à la synthèse des maines enregistrées dans la partie courante.
        </div>
    </div>


    <div class="aide-sous-titre">Tableau de bord</div>
    <div class="aide-elem">
        <div class="aide-elem-float-left">
            <div class="dealer">
                <span class="fgB glyphicon glyphicon-hand-right"></span>
                <span>Christophe</span>
            </div>
        </div>
        <div>
            En haut de l'écran est indiqué le dealer courant (la couleur de la main indique l'équipe à laquelle il appartient).
        </div>
    </div>
    <div class="aide-elem">
        <div>
            <p>Cette écran ne comporte pas d'action de saisie.</p>
            <p>Il affiche, pour les deux équipes, les noms des joueurs, le contrat en cours, ainsi que les scores courants.</p>
            <p>Pour l'équipe en tête, l'écart positif par rapport à l'autre équipe est indiqué sur un fond vert.</p> 
        </div>
    </div>

    
    <div class="aide-sous-titre">Vainqueur !</div>
    <div class="aide-elem">
        <div>
            Lorsqu'une équipe aura atteind ou dépassé le score gagnant (voir paramètres), une vignette apparaitra avec le nom des vainqueurs. Une icone <span class="glyphicon glyphicon-envelope"></span> permet d'envoyer un mail au Game Master avec le résultat de la partie.
        </div>
    </div>
    
    
</div>