<div >
    <div class="aide-titre">ACCUEIL</div>
    <div class="aide-sous-titre">Barre d'outils</div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text black glyphicon glyphicon-cog"></span>
        </div>
        <div>
            Ce bouton vous permet de d'accéder au paramétrage général de l'application.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-right cell-menu white">
            <span class="menu-text black glyphicon glyphicon-refresh"></span>
        </div>
        <div >
            Ce bouton vous permet de recommencer une partie (Raz des compteurs et des maines) en conservant éventuellement les joueurs courants.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text black glyphicon glyphicon-user"></span>
        </div>
        <div>
            Ce bouton vous permet de saisir (ou de supprimer) des nouveaux joueurs, ceux-ci seront conservés jusqu'uà une raz du cache navigateur.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-right cell-menu white">
            <span class="menu-text main glyphicon glyphicon-circle-arrow-right"></span>
        </div>
        <div >
            Ce bouton vous permet de commencer la partie (visible uniquement lorsque la table est complête avec 4 joueurs saisies).
        </div>
    </div>

    <div class="aide-sous-titre">Table de jeu</div>
    <div class="aide-elem">
        <div class="aide-elem-float-left">
            <span class="table-icon-joueur table-joueur glyphicon glyphicon-hand-right"></span>
        </div>
        <div>
            Un click sur le joueur de la table lui donnera le 'lead' (démarrage des enchères) matérialisé par cette icone..
        </div>
    </div>
</div>