<div >
    <div class="aide-titre">ACCUEIL</div>
    <div class="aide-sous-titre">Barre d'outils</div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text green glyphicon glyphicon-ok"></span>
        </div>
        <div>
            Ce bouton vous permet d'enregistrer les paramètres et de retourner à l'écran d'accueil.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-right cell-menu white">
            <span class="menu-text red glyphicon glyphicon-remove"></span>
        </div>
        <div>
            Ce bouton vous permet d'annuler la saisie des paramètres et de retourner à l'écran d'accueil.
        </div>
    </div>


    <div class="aide-sous-titre">Paramètres</div>
    <div class="aide-elem">
        <div>
            <ul>
                <li>
                    <b>Délai</b> Durée en secondes avant l'apparition de l'écran d'attente (en secondes).
                </li>
                <li>
                    <b>Email</b> Adresse mail destinataire des résultats.
                </li>
                <li>
                    <b>Score gagnant</b> Score à atteindre pour gagner la partie.
                </li>
                <li>
                    <b>Rotation Score</b> Rotation automatique de l'écran score (visible pour la table).
                </li>
            </ul>
        </div>
    </div>
</div>