<div>
    <div class="aide-titre">SYNTHESE DES MAINES</div>
    <div class="aide-sous-titre">Barre d'outils</div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text black glyphicon glyphicon-stats"></span>
        </div>
        <div>
            Ce bouton vous permet de passer en mode graphique de type histogramme.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-right cell-menu white">
            <span class="menu-text black glyphicon glyphicon-adjust"></span>
        </div>
        <div>
            Ce bouton vous permet de passer en mode graphique de type camembert.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text main glyphicon glyphicon-circle-arrow-left"></span>
        </div>
        <div>
            Ce bouton vous permet de revenir à la maine en cours.
        </div>
    </div>
    
    <div class="aide-sous-titre">Graphes</div>
    
    <div class="aide-elem">
        <div>
            <p>Cette écran affiche une synthèse graphique des maines enregistrées.</p>
            <p>Deux visions sont proposées :</p>
            <ul>
                <li>
                    <p>Vue type <b>Camembert</b> pour analyser les coups gagnants des deux équipe (contrat réussis, contrée ..) ainsi qu'un vue rapide du reste à faire pour atteindre le score gagnant (voir paramètres).</p>
                </li>
                <li>
                    <p>Vue type <b>Histogramme</b> pour comparer la progression des deux équipes.</p>
                </li>
            </ul>
        </div>
    </div>

</div>