<div>
    <div class="aide-titre">JOUEURS & EQUIPES</div>
    <div class="aide-sous-titre">Barre d'outils</div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text green glyphicon glyphicon-ok"></span>
        </div>
        <div>
            Ce bouton vous permet de valider la saisie des équipes et de retourner à l'écran d'accueil.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-right cell-menu white">
            <span class="menu-text red glyphicon glyphicon-remove"></span>
        </div>
        <div>
            Ce bouton vous permet d'annuler la saisie des équipes et de retourner à l'écran d'accueil.
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-left cell-menu white">
            <span class="menu-text black glyphicon glyphicon-plus"></span>
        </div>
        <div>
            Ce bouton vous permet de saisir un nouveau joueur.
        </div>
    </div>

    <div class="aide-sous-titre">Liste des joueurs</div>
    <div class="aide-elem">
        <div class="aide-elem-float-left">
            <div style="width:60vw;">
                <ul>
                    <li>
                        <div>
                            <div class="repo-joueur joueur-sel">Cédric</div>
                            <div class="icon-del-joueur glyphicon glyphicon-remove"></div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="repo-joueur">Christophe</div>
                            <div class="icon-del-joueur glyphicon glyphicon-remove"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <p>Un click sur le joueur de la liste permet de le sélectionner (Ex: Cédric). ensuite un deuxième clic dans une des équipe permettra de le positionner.</p>
        </div>
    </div>
    <div class="aide-elem">
        <div>
            <p>Une croix rouge en face de chaque joueur permet de le supprimer définitivement de la liste</p>
        </div>
    </div>
    <div class="aide-elem">
        <div class="aide-elem-float-right">
            <div class="equipe-joueur" style="width:60vw;">
                <div class="cell-equipe bkA-gradient">
                    <div  class=" joueur-select sep-joueur">Gilles</div>
                    <div  class=" joueur-select">Jérome</div>
                </div>
                <div class="cell-equipe bkB-gradient">
                    <div class=" joueur-select sep-joueur">Christophe</div>
                    <div class=" joueur-select">???</div>
                </div>
            </div>
        </div>
        <div>
            <p>Pour contituer les deux equipes, il faut positionner 4 joueurs dans les emplacement prévus en cliquant sur les caractères '???' ou un nom déjà présent.</p>
        </div>
    </div>
</div>